<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.hucet.tyler.quick.media.feed">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_mediafeed">
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

