<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hucet.tyler.quick.media">

  <application
      android:name=".DebugApplication"
      android:allowBackup="true"
      android:debuggable="true"
      tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode"
      tools:replace="android:name">
    <activity android:name=".SingleFragmentActivity"></activity>
  </application>

</manifest>